name: Build Docker Image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    # Build Docker image
    - name: Build image
      run: |
        docker build -f scripts/sample-deployment/Dockerfile -t my-python-app:latest .

    # Save image to a tar file
    - name: Save image as artifact
      run: |
        docker save my-python-app:latest -o my-python-app.tar

    # Upload artifact
    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v4
      with:
        name: my-python-app
        path: my-python-app.tar
        retention-days: 30